<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>umeng_appid</key>
	<string>56f262a8e0f55af47f00236b</string>
	<key>umen_channel</key>
	<string>fir</string>
	<key>fir_id</key>
	<string>56f2836af2fc420e0b000048</string>
	<key>fir_token</key>
	<string>3392bff9a5d376b03e8bb2003e695cde</string>
</dict>
</plist>
